body{
  font-family: Arial, Helvetica, sans-serif;
}

button{
  text-align: center;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark){
    body{
        background-color: black;
        color: white;
    }
    a:link {
        color: white;
        text-decoration: none;
      }
      
      a:visited {
        color: white;
        text-decoration: none;
      }
      
      a:hover {
        color: lightgreen;
        text-decoration: none;
      }
      button{
        background-color: lightgreen;
        color: black;
      }
    
}

@media (prefers-color-scheme: light) {
    body{
        background-color: white;
        color: black;
    }
    a:link {
        color: black;
        text-decoration: none;
      }
      
      a:visited {
        color: black;
        text-decoration: none;
      }
      
      a:hover {
        color: lightgreen;
        text-decoration: none;
      }    
      button{
        background-color: lightgreen;
        color: black;
      }
}



